.wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    gap: 20px;
    justify-items: center;
}

.usersDiv {
    display: grid;
    width: 100%;
    height: fit-content;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;

    transition-duration: 300ms;

	color: var(--white);
	border: 1px solid var(--primary) !important;
	border-radius: 7px;
	background: var(--primary);
    gap: 5px;
}

.usersDiv:active {
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    color: var(--primary);
	background: var(--white);
}

.usersButtons {
    display: grid;
    width: 100%;
    grid-template-columns: auto auto;
    justify-items: center;
    gap: 10px;
}

.paymentLinkDiv {
    width: 100%;
    max-width: 200px;
    background: linear-gradient(93deg, var(--second) 0%, var(--primary) 100%);
    color: var(--white);
    border-radius: 10px;
    padding: 10px;
    overflow-wrap: break-word;
    text-align: center;
}

@media (min-width: 1024px) {
	.usersDiv:hover {
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

		color: var(--primary);
		background: var(--white);	
	}
}

@media (max-width: 580px) {
    .paymentLinkDiv {
        max-width: 150px;
    }
}

@media (max-width: 390px) {
    .usersButtons {
        grid-template-columns: auto;
    }
}
