.button {
    width: 406.6px;
	height: 51.6px;
	padding: 5px;
	padding-left: 20px;

	transition-duration: 300ms;

	color: var(--white);
	border: 1px solid var(--primary) !important;
	border-radius: 10px;
	outline: none;
	background: linear-gradient(93deg, var(--second) 0%, var(--primary) 100%);

	font-size: 20px;
	font-weight: 600;
    cursor: pointer;
}

.button:active {
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    filter: brightness(0.9);
}

.disabled {
	cursor: auto;
	color: var(--white) !important;
	background: linear-gradient(93deg, var(--second) 0%, var(--primary) 100%) !important;
	filter: brightness(0.8) !important;
}

.done {
	cursor: auto;
	color: var(--white) !important;
	background: linear-gradient(93deg, var(--done2) 0%, var(--done1) 100%) !important;
}

@media (min-width: 1024px) {
	.button:hover {
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

		filter: brightness(0.9);	
	}
}

@media (max-width: 1024px) {
	.button {
		font-size: 22px;
	}
}

@media (max-width: 580px) {
	.button {
		width: 301.6px;
		padding-left: 15px;

		font-size: 20px;
	}
}

@media (max-width: 400px) {
	.button {
		width: 251.6px;
	}
}

@media (max-width: 350px) {
	.button {
		width: 201.6px;
	}
}