.wrapper {
	display: grid;

	width: 70%;
	justify-items: center;
	grid-template-columns: auto auto;
	gap: 20px;
	z-index: 2;
}

.partTwoDiv {
	width: 100%;
	grid-template-columns: auto;
}

.block {
	background: var(--primary);
	border-radius: 10px;
	display: none;
	grid-template-columns: auto;
	gap: 10px;
	padding: 10px;
	justify-items: center;
}

.block > a {
	color: var(--white);
	cursor: pointer;
	transition-duration: 300ms;
}

.block > a:active {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	
	filter: brightness(0.9);
}

.open {
	display: grid;
}

.link {
	width: fit-content;
	color: var(--white);
	cursor: pointer;
	transition-duration: 300ms;
}

.linkText {
	color: var(--white);
}

.block > a:active,
.link:active,
.installLink {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	
	filter: brightness(0.9);
}

.installLinkDiv {
	background: var(--primary);
	padding: 10px 20px;
	display: grid;
	justify-items: center;
	align-items: center;
	border-radius: 10px;
}

.installLink {
	cursor: pointer;
	transition-duration: 300ms;
}

.installLink,
.installHtag {
	color: var(--light) !important;
}

@media (min-width: 1024px) {
	.block > a:hover,
	.link:hover,
	.installLink {
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

		filter: brightness(0.9);
	}
}

@media (max-width: 1024px) {
	.wrapper {
		grid-template-columns: auto;
		gap: 40px;
	}

	.installLinkDiv {
		padding: 10px 40px;
	}

	.installHtag,
	.installLink {
		font-size: 22px !important;
	}
}

@media (max-width: 580px) {
	.installLinkDiv {
		padding: 10px 20px;
	}

	.installHtag,
	.installLink {
		font-size: 18px !important;
	}
}

@media (max-width: 400px) {
	.installHtag,
	.installLink {
		font-size: 16px !important;
	}
}

@media (max-width: 350px) {
	.installLinkDiv {
		padding: 5px 10px;
		border-radius: 5px;
	}

	.installHtag,
	.installLink {
		font-size: 12px !important;
	}
}
