.wrapper {
	display: grid;

	width: 100%;
	justify-items: center;
	grid-template-columns: auto auto auto;
	gap: 20px;
	margin: 30px 0;
}

.partTwoDiv {
	grid-template-columns: auto;
}

.block {
	background: var(--primary);
	border-radius: 10px;
	display: none;
	grid-template-columns: auto;
	gap: 10px;
	padding: 10px;
	justify-items: center;
}

.block > a {
	color: var(--white);
	cursor: pointer;
	transition-duration: 300ms;
}

.block > a:active {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	
	filter: brightness(0.9);
}

.open {
	display: grid;
}

.link {
	width: fit-content;
	color: var(--primary);
	cursor: pointer;
	transition-duration: 300ms;
}

.linkText {
	color: var(--primary);
}

.block > a:active,
.link:active {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	
	filter: brightness(0.9);
}

.twoPhases {
	display: grid;
}

@media (min-width: 1024px) {
	.block > a:hover,
	.link:hover {
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

		filter: brightness(0.9);
	}
}
